body {
	font-family:bitstream vera sans;
	background-color:black;
	margin:0px;
}

h1, h3 {
	color:#CFE3CB;
}

div.structure {
	text-align:center;
	font-size:small;
	margin-top:1.0em;
	margin-bottom:1.0em;
}

div.structure.img {
	clear:both;
}

#BALL_Unis {
	text-align:center;
}

#breadcrumb {
	background-color:#333333;
	vertical-align:middle;
	color:#BBB;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	position:fixed;
	top:0px;
	width:100%;
	float:left;
}

#text-content {
	padding:30px 20px 1em 20px;
	clear:both;
	text-align:justify;
	color: #B0C0AD;
}

#content {
	background-color:black;
}

.actions {
	padding:5px 20px 5px 10px;
	background-color:#333333;
	display:table;
}

div.actions a {
	margin-bottom:2pt;
	display:block;
}

a {
	color: #99E88A;
	text-decoration:none;
}

a:hover {
	text-decoration: underline; 
	color: #99E88A;
}

div.decoration_image {
 float:right;
 margin:5px 10px 5px 10px;
}

div.task {
	font-style:italic;
	background-color:#333;
	margin:0.5em;
	padding:0.5em 0.7em;
	text-align:left;
}

