*DS_STORE
include/BALL/BALL.doc
contrib/*
*.o
*.lo
*_moc.C
*~
moc_*.C
*.dh
*.sw?
*.orig
*.pyc
*.aux
*.bbl
*.blg
*.qm
.Dependencies
lib/*
build/*
build*/*
out/*
.vs/*
CMakeFiles/
**/CMakeFiles/
source/autom4te.cache
source/Makefile
source/config.lic
source/config.log
source/config.status
source/common.mak
source/config.mak
source/targets.mak
source/rules.mak
source/libBALL.objects
source/libVIEW.objects
source/qt.version
include/BALL/VIEW/UIC/*
.idea
.project
.cproject
source/TEST/data/SideChainPlacementProcessor_test_output_pre_1.pdb
CMakeLists.txt.user
a.out
.claude/

# in-source CMake build artifacts (legacy; prefer out-of-source builds in build/)
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing/
cmake_install.cmake
cmake/BALLConfig.cmake
cmake/BALLConfigVersion.cmake
cmake/BALLExport.cmake
doc/doxygen/Doxyfile
doc/doxygen/Doxyfile_dot
doc/doxygen/Doxyfile_inc
include/BALL/PYTHON/BALLPythonConfig.h
source/BENCHMARKS/BALLBenchmarkConfig.h
test/BALLTestConfig.h
.qt/

# BALL ClassTest harness sandbox temp files
_AAAAA*.TMP
