*DS_STORE
include/BALL/BALL.doc
contrib/*
*.o
*.lo
*_moc.C
*~
moc_*.C
*.dh
*.sw?
*.orig
*.pyc
*.aux
*.bbl
*.blg
.Dependencies
lib/*
build/*
build*/*
CMakeFiles/*
source/autom4te.cache
source/Makefile
source/config.lic
source/config.log
source/config.status
source/common.mak
source/config.mak
source/targets.mak
source/rules.mak
source/libBALL.objects
source/libVIEW.objects
source/qt.version
include/BALL/VIEW/UIC/*
.idea
.project
.cproject
data/BALLView/translations/BALLView.de_DE.qm
data/BALLView/translations/BALLView.zh_TW.qm
source/TEST/data/SideChainPlacementProcessor_test_output_pre_1.pdb
CMakeLists.txt.user
