Package: BALLVIEW
Version: 1.1.0_pre3
Section: x11
Priority: Extra
Architecture: i386
Essential: no
Depends: libqt3c102-mt (>= 3.2.3), python2.3
Installed-Size: 16024
Maintainer: Andreas Moll <amoll@bioinf.uni-sb.de>
Provides: 
Description: BALLView 1.1
 BALLView is a free molecular modeling and molecular graphics tool.
 It provides fast OpenGL-based visualization of molecular structures, 
 molecular mechanics methods (minimization, MD simulation using the 
 AMBER and CHARMM force fields), calculation and visualization 
 of electrostatic properties (FDPB).
 .
 BALLView is based on BALL (Biochemical Algorithms Library) , 
 which is currently being developed in the groups of Hans-Peter Lenhof 
 (Saarland University, Saarbrücken, Germany) and Oliver Kohlbacher 
 (University of Tübingen, Germany). BALL is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 .
 BALL is available free of charge for research and educational purposes. 
 Commercial licenses are available through our partner Algorithmic 
 Solutions.
 .
 Homepage: www.BALLView.org
