[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=/usr/share/BALL/data/graphics/logo.png
Exec=BALLView
Name=BALLView
GenericName=Molecular modeling and visualization tool
Type=Application
Categories=Biology;Science;Education; 
