Source: ball
Section: science
Priority: optional
Maintainer: Andreas Hildebrandt <anhi@bioinf.uni-sb.de>
Build-Depends: debhelper (>= 4), libqt4-dev, libqt4-gui, sip4, python-sip4-dev, 
 flex, bison, autoconf, libglew-dev, libfftw3-dev, libgsl0-dev, python-dev, 
 doxygen, tidy, texlive-base, texlive-latex-recommended, texlive-latex-extra, gs-common
Standards-Version: 3.7.2

Package: libball
Section: science
Architecture: any
Depends: ${shlibs:Depends}, python, libqt4-core, libqt4-gui, libqt4-sql, libfftw3-3,
	libglew1.5, libgsl0ldbl
Description: BALL (Biochemical Algorithms Library) is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 BALL is currently being developed in the groups of Oliver Kohlbacher
 (University of Tuebingen, Germany), Andreas Hildebrandt (Saarland University,
 Saarbruecken, Germany), and Hans-Peter Lenhof (Saarland University, Saarbruecken,
 Germany).
 BALL is available under the GPL licence.
 .
 Homepage: www.ball-project.org

Package: libball-dev
Section: science
Architecture: any
Depends: libball
Description: BALL (Biochemical Algorithms Library) is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 BALL is currently being developed in the groups of Oliver Kohlbacher
 (University of Tuebingen, Germany), Andreas Hildebrandt (Saarland University,
 Saarbruecken, Germany), and Hans-Peter Lenhof (Saarland University, Saarbruecken,
 Germany).
 BALL is available under the GPL licence.
 .
 Homepage: www.ball-project.org

Package: ballview
Architecture: any
Depends: ${shlibs:Depends}, python, libball
Description: A free molecular modeling and molecular graphics tool
 BALLView provides fast OpenGL-based visualization of molecular structures, 
 molecular mechanics methods (minimization, MD simulation using the 
 AMBER, CHARMM, and MMFF94 force fields), calculation and visualization 
 of electrostatic properties (FDPB) and molecular editing features.
 .
 BALLView is based on BALL (Biochemical Algorithms Library) , 
 which is currently being developed in the groups of Hans-Peter Lenhof 
 (Saarland University, Saarbruecken, Germany) and Oliver Kohlbacher 
 (University of Tuebingen, Germany). BALL is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 .
 BALLView is available under the LGPL licence.
 .
 Homepage: www.BALLView.org

