Source: ball
Section: science
Priority: optional
Maintainer: Andreas Hildebrandt <anhi@bioinf.uni-sb.de>
Build-Depends: debhelper (>= 4), libtool, libqt4-dev, libqt4-gui, libqt4-opengl,
 libqt4-opengl-dev, libqt4-sql, sip4, python-sip4-dev, flex, bison, autoconf, 
 libglew-dev, libfftw3-dev, libgsl0-dev, python2.5-dev, libxrender-dev,
 libxmu-dev, doxygen, tidy, texlive-base, texlive-latex-recommended, 
 texlive-fonts-recommended, gs-common, texlive-latex-extra, graphviz
XS-Python-Version: all
Standards-Version: 3.7.3
Vcs-Browser: http://svn.debian.org/wsvn/debian-med/trunk/packages/ball/trunk/?rev=0&sc=0
Vcs-Svn: svn://svn.debian.org/svn/debian-med/trunk/packages/ball/trunk/
Homepage: http://www.ballview.org

Package: libball-1.2
Section: science
Architecture: any
Depends: ${shlibs:Depends}, libqt4-core, libqt4-gui, libqt4-sql, libfftw3-3,
 libglew1.5, libgsl0ldbl, libqt4-opengl, libxrender1, libxmu6
Description: The Biochemical Algorithms Library
 BALL (Biochemical Algorithms Library) is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 BALL is currently being developed in the groups of Oliver Kohlbacher
 (University of Tuebingen, Germany), Andreas Hildebrandt (Saarland 
 University, Saarbruecken, Germany), and Hans-Peter Lenhof (Saarland 
 University, Saarbruecken, Germany).
 .
 Homepage: www.ball-project.org

Package: libball-1.2-dev
Section: libdevel
Architecture: any
Depends: libball-1.2
Recommends: libball-1.2-doc
Description: The Biochemical Algorithms Library
 BALL (Biochemical Algorithms Library) is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 BALL is currently being developed in the groups of Oliver Kohlbacher
 (University of Tuebingen, Germany), Andreas Hildebrandt (Saarland 
 University, Saarbruecken, Germany), and Hans-Peter Lenhof (Saarland 
 University, Saarbruecken, Germany).
 .
 Homepage: www.ball-project.org

Package: ballview-1.2
Architecture: any
Depends: ${shlibs:Depends}, python2.5, libball-1.2
Description: A free molecular modeling and molecular graphics tool
 BALLView provides fast OpenGL-based visualization of molecular structures, 
 molecular mechanics methods (minimization, MD simulation using the 
 AMBER, CHARMM, and MMFF94 force fields), calculation and visualization 
 of electrostatic properties (FDPB) and molecular editing features.
 .
 BALLView is based on BALL (Biochemical Algorithms Library), 
 which is currently being developed in the groups of Hans-Peter Lenhof 
 (Saarland University, Saarbruecken, Germany) and Oliver Kohlbacher 
 (University of Tuebingen, Germany). BALL is an application framework 
 in C++ that has been specifically designed for rapid software 
 development in Molecular Modeling and Computational Molecular Biology. 
 It provides an extensive set of data structures as well as classes 
 for Molecular Mechanics, advanced solvation methods, comparison and 
 analysis of protein structures, file import/export, and visualization.
 .
 Homepage: www.BALLView.org

Package: python-ball-1.2
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${python:Depends}, python-sip4 (>= 4.7.2), python-sip4 (<< 4.8), python2.5, libball-1.2
Description: Python bindings for the Biochemical Algorithms Library
 python-ball-1.2 provides simple scripting access to the functionality of the
 Biochemical Algorithms Library (BALL).
 BALL is available under the LGPL license.
 .
 Homepage: www.ball-project.org

Package: libball-1.2-doc
Architecture: all
Section: doc
Depends: libball-1.2
Description: Documentation for the BALL library
 .
 BALL is available under the LGPL license.
 .
 Homepage: www.ball-project.org
