#!/usr/bin/make -f 
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	debian-upstream/debian-ball-install configure
	touch $@

build: build-stamp 
build-stamp: configure-stamp
	dh_testdir
	debian-upstream/debian-ball-install build
	touch $@

clean:
	dh_testdir
	dh_testroot
	debian-upstream/debian-ball-install clean
	dh_clean build-stamp configure-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	#DESTDIR=$(CURDIR)/debian/ballview 
	debian-upstream/debian-ball-install install


binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_installmenu
# dh_python
	dh_installman -p ballview-1.2
	dh_link
	dh_strip -p libball-1.2
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

get-orig-source:
	wget http://ball-www.bioinf.uni-sb.de/Debian/ball-1.2.tar.gz

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
