GeneratedFiles/*
libBALL/GeneratedFiles/*
libBALL/Debug/*
libBALL/Release/*
libVIEW/GeneratedFiles/*
libVIEW/Debug/*
libVIEW/Release/*
BALLModule/GeneratedFiles/*
BALLModule/Debug/*
BALLModule/Release/*
BALLView/GeneratedFiles/*
BALLView/Debug/*
BALLView/Release/*
Debug/*
Release/*
BALLView/GeneratedFiles/*
Debug/*
Release/*